<%=  layout("/boilerplate/boilerplate") %>
<body>
<form action="/home/<%= garageData._id %>?_method=put" method="post">
    <div class="mb-3">
           <label for="title" class="form-label" >name:</label>
           <input type="text" name="car[name]"  class="form-control"  value="<%= garageData.name %>">
       </div>
     
       <div class="mb-3">
           <label for="image" class="form-label">Image URL:</label>
   
           <input type="text" name="car[Image]" placeholder="Enter Your Image URL" class="form-control"  value="<%= garageData.Image %>">
       </div>
       <div class="row">
   
           <div class="mb-3 col-md-4">
               <label for="speed" class="form-label">Price:</label>
               
               <input type="number" name="car[speed]" placeholder="Enter Price" class="form-control"  value="<%= garageData.speed %>">
           </div>
           <div class="mb-3 col-md-4">
               <label for="hp" class="form-label">Hp:</label>
               
               <input type="number" name="car[hp]" placeholder="Enter Price" class="form-control"  value="<%= garageData.hp %>">
            </div>
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price:</label>
                
                <input type="number" name="car[price]" placeholder="Enter Price" class="form-control"  value="<%= garageData.price %>">
            </div>
          
       </div>
       
       <br>
    <button class="btn btn-dark add-btn">Save</button>
       <br>
       <br>
      
   
   </form>
</body>