<link rel="stylesheet" href="/css/cart.css">
<% layout("/boilerplate/boilerplates") %>
    <div class="main-div">
        <div class="main-div-top">
            <span>Flipkart (<%= user.addCart.length  %>)</span><span>Grocery</span>
        </div>
        <% if(user.addCart.length == 0) {%>
            <div class="data-div">
                <img src="https://rukminim2.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                    alt="img">
                <h4>Your cart is empty!</h4>
                <p>Add items to it now.</p>
                <a href="/flipkart">Shop now</a>
            </div>
            <% }else{ %>

                <!-- else -->
                <% for(item of user.addCart) {%>
                    <a href="/flipkart/<%= item.name %>/<%= item._id %>" style="text-decoration: none;">
                <div class="products">
                    <img src="<%= item.image %>"
                        alt="img">
                    <div class="details">
                        <h4><%= item.name %></h4>
                        <p style="color: gray;">Seller: <%= item.company %></p>
                        <h4><span><i class="fa-solid fa-indian-rupee-sign"></i><%= items.price*2 %></span>&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i> <%= item.price %>&nbsp;<p class="discount"></p></h4>
                     <form action="/flipkart/cart/<%= item._id %>?_method=DELETE" method="post">
                            <button>remove</button>
                        </form>
                    </div>
                </div></a>
                <div class="order-button">
                    <p class="place-order">Place Order</p>
                </div>
                <div class="confirm-order">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwjkDtiA9S2nGQ9dIlw6VQio7JKCIvbMSHE8SjAqIuXQ&s" alt="image">
                    <h1>Order Successfully Confirmed</h1>
                    <h3>Thank you for your order</h3>
                    <a href="/flipkart">Go to Home page</a>
                   </div>
                <hr>
                <% } %>
                <% } %>
    </div>
    <script>
        let discount = document.querySelectorAll(".discount");
        let btn = document.querySelectorAll(".place-order");
        let body = document.querySelector("body");
        for (dis of discount) {
        let randomNum = Math.floor(Math.random() * 20) + 10;
        dis.innerText = +randomNum+"% off";
        }
        let a = btn.forEach((item)=>{
            item.addEventListener("click",()=>{
                let confirmOrder = document.querySelector(".confirm-order");
                confirmOrder.style.display = "flex";
                body.style.overflowY="hidden";
            })
        })

        
      
       </script>