<body>
    <% layout("/layouts/boilerplate") %>
        <div class="row mt-3">
            <div class="col-8 offset-2">

                <h3>Listing Details</h3>
            </div>

            <div class="card col-6 offset-2">
                <img src="<%= alllistings.image %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text mt-2 mb-2">
                        <b> Title : </b>
                        <%= alllistings.title %>
                    </p>
                    <p class="card-text mb-2">
                        <b>Description :</b>
                        <%= alllistings.description %>
                    </p>
                    <p class="card-text mb-2">
                        <b>Price :</b> &#8377; <%= alllistings.price.toLocaleString('en-IN') %>
                    </p>
                    <p class="card-text mb-2">
                        <b>Location :</b>
                        <%= alllistings.location %>
                    </p>
                    <p class="card-text">
                        <b>Country :</b>
                        <%= alllistings.country %>
                    </p>
                </div>
            </div>

            <div class="col-8 offset-2 btns">

                <a href="/listing/<%= alllistings._id %>/edit" class="btn btn-dark add-btn ">Edit</a>
                <form action="/listing/<%= alllistings._id %>?_method=delete" method="post">

                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        </div>


</body>